@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-elem {
    @apply flex gap-2 p-2 text-white font-light ml-2;
  }

  .main-button {
    @apply px-4 py-2 bg-indigo-500 outline-none rounded text-white shadow-indigo-200 shadow-lg font-medium active:shadow-none active:scale-95 hover:bg-indigo-600 focus:bg-indigo-600 disabled:bg-gray-400/80 disabled:shadow-none disabled:cursor-not-allowed transition-colors duration-200
  }

  .table-head {
    @apply px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50
  }

  .toggle-checkbox:checked {
    @apply: right-0 border-green-400;
    right: 0;
    border-color: #68D391;
  }
  .toggle-checkbox:checked + .toggle-label {
    @apply: bg-green-400;
    background-color: #68D391;
  }

  .label-form {
    @apply mb-3 block text-base font-medium text-[#07074D]
  }
}

a {
  text-decoration: none !important;
}


body{
  background-color: #F6F6F6;
}
